<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.lwjuser.mapper.TfrsuserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.user.lwjuser.entity.Tfrsuser">
        <id column="UserID" property="userID" />
        <result column="UserCode" property="userCode" />
        <result column="UserName" property="userName" />
        <result column="UserType" property="userType" />
        <result column="LoginCheckType" property="loginCheckType" />
        <result column="Passwd" property="passwd" />
        <result column="IsEnable" property="isEnable" />
        <result column="BgnDate" property="bgnDate" />
        <result column="EndDate" property="endDate" />
        <result column="RightCtrlOrgCode" property="rightCtrlOrgCode" />
        <result column="ActiveDay" property="activeDay" />
        <result column="Language" property="language" />
        <result column="NumFormat" property="numFormat" />
        <result column="DateFormat" property="dateFormat" />
        <result column="TimeZone" property="timeZone" />
        <result column="IsLimited" property="isLimited" />
        <result column="LogonCount" property="logonCount" />
        <result column="EmpCode" property="empCode" />
        <result column="IsPreset" property="isPreset" />
        <result column="IsDeveloper" property="isDeveloper" />
        <result column="CrtUserID" property="crtUserID" />
        <result column="CrtTime" property="crtTime" />
        <result column="IsActivation" property="isActivation" />
        <result column="EmpId" property="empId" />
        <result column="RightCtrlOrgID" property="rightCtrlOrgID" />
        <result column="UserMail" property="userMail" />
        <result column="PasswdUdp" property="passwdUdp" />
        <result column="UpdateTime" property="updateTime" />
        <result column="IsBindToken" property="isBindToken" />
        <result column="IsUseToken" property="isUseToken" />
        <result column="TokenCode" property="tokenCode" />
    </resultMap>

</mapper>
